<%- include ('../partials/header') %>

<% if(outils.length > 0) { %>
    <form action="/categorie/:id">
        <div class="container">
            <div class="row">
                <% outils.forEach(function(row){ %>
                    
                    <a class="ecart" href="/produit/<%= row.nom %>">
                        <div class="col img-thumbnail text-center rectangle">
                            <img style="max-height:300px; max-width: 475px;" src="<%= row.image %>" />
                            <div class="col text-center">
                                <textbox>
                                    <%= row.nom %><br>
                                    <b><%= row.prix %>$</b>
                                </textbox>
                            </div>
                        </div>
                    </a>
                    
                <% }) %>

            </div>
        </div>

    </form>
    <% }else {%>
        <p><strong> Une erreur s'est produit lors de la rêquete. S'il vous plaît, contacter l'administrateur</strong></p>
    <% } %>
    <%- include ('../partials/footer') %>