<%- include ('../partials/header') %>
<% if(items.length > 0) { %></if>
    <style>
        .ecart {
            margin: 5px;
            margin-top: 50px;
        }

        a {
            color: black;
        }

        a:hover {
            color: #000;
            text-decoration: none;
        }
    </style>

    <div class="container">
        <div class="row custom-line">
            <% items.forEach(function(row){ %>
                <a class="ecart" href="/categorie/<%= row.nom %>">
                    <div class="col align-self-end img-thumbnail">
                        <img max width="338" max height="208" src="<%= row.lien_image %>" />
                        <div class="col text-center">
                            <textbox>
                                <%= row.nom %>
                            </textbox>
                        </div>
                    </div>
                </a>
                
            <% }) %>
        </div>
    </div>
    <% }else {%>
        <p><strong> Un problème s'est produit avec le site. S'il vous plaît, contacter l'administrateur</strong></p>
    <% } %>

    <%- include ('../partials/footer') %>