<%- include ('../partials/header') %>

    <style>
        .ecart {
            margin: 5px;
            margin-top: 50px;
        }

        a {
            color: black;
        }

        a:hover {
            color: #000;
            text-decoration: none;
        }
    </style>

    <div class="container">
        <div class="row custom-line">
            <% items.forEach(function(row){ %>
                <a class="ecart" href="/categorie/<%= row.nom %>">
                    <div class="col align-self-end img-thumbnail">
                        <img width="330" height="200" src="<%= row.lien_image %>" />
                        <div class="col text-center">
                            <textbox>
                                <%= row.nom %>
                            </textbox>
                        </div>
                    </div>
                </a>
                
            <% }) %>
        </div>
    </div>


    <%- include ('../partials/footer') %>