<%- include ('../partials/header') %>
<% if(items.length > 0) { %>
    <div class="container">
        <div class="row custom-line">
            <% items.forEach(function(row){ %>
                <a class="ecartIndex" href="/categorie/<%= row.nom %>">
                    <div class="img-thumbnail rectangleIndex">
                        <img style="max-width: 300px; max-height: 200px;" src="<%= row.lien_image %>" />
                        <div class="col text-center">
                            <textbox>
                                <%= row.nom %>
                            </textbox>
                        </div>
                    </div>
                </a>
                
            <% }) %>
        </div>
    </div>
    <% }else {%>
        <div class="container">
            <div class="row align-middle">
                <div class="col-6 mx-auto milieu d-flex align-self-center">
                    <h1><strong> Un problème s'est produit avec le site. S'il vous plaît, contacter l'administrateur</strong></h1>
                </div>
            </div>
        </div>
    <% } %>

    <%- include ('../partials/footer') %>