<%- include ('../partials/header') %>

<% if(connexion) { %></if>
    <div class="table-responsive">
        <table class="table textcss table-dark table-condensed">
            <thead>
                <tr class="bg-info">
                    <th>Image</th>
                    <th>Produit</th>
                    <th>Marque</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <% outils.forEach(function(row){ %>

                    <tr>
                        <td><%= row.image %></td>
                        <td><%= row.nom %></td>
                        <td><%= row.marque %></td>
                        <td><%= row.nombre %></td>
                    </tr>
                
                <% }) %>
            </tbody>
       
        </table>
        

    </div>
<% }else if (!connection){%>
    <p><strong> Veuillez vous connecter pour acceder au panier </strong></p>
<% } else { %>
    
<% } %>


<%- include ('../partials/footer') %>