<%- include ('../partials/header') %>

<% if(outils.length > 0 && connexion) { %></if>
    <div class="table-responsive row custom-line">
        <table style="width: 90%; margin-top: 2%; margin-left: 6%; text-align: center;" class="table table-dark table-condensed table-striped">
            <thead>
                <tr class="bg-info">
                    <th style="width: 5%;">Image</th>
                    <th style="width: 40%;">Produit</th>
                    <th style="width: 40%;">Marque</th>
                    <th style="width: 15%;">Nombre</th>
                </tr>
            </thead>
            <tbody>
                <% outils.forEach(function(row){ %>

                    <tr>
                        <td>
                            <img style="max-height:50px; max-width: 50px;" src="<%= row.image %>"/>
                        </td>
                        <td><%= row.nom %></td>
                        <td><%= row.marque %></td>
                        <td><%= row.nombre %></td>
                    </tr>
                
                <% }) %>
            </tbody>
       
        </table>
        

    </div>
<% }else if(!connexion) {%>
    <div class="container">
        <div class="row align-middle">
            <div class="col-6 mx-auto milieu d-flex align-self-center">
                <h1><strong> Veuillez vous connecter pour acceder au panier </strong></h1>            
            </div>
        </div>
    </div>
<% } else { %>
    <div class="container">
        <div class="row align-middle">
            <div class="col-6 mx-auto milieu d-flex align-self-center">
                <h1><strong> Vous n'avez pas de produits dans votre panier </strong></h1>
            </div>
        </div>
    </div>
<% } %>


<%- include ('../partials/footer') %>