<%- include ('../partials/header') %> 
   
        
    
            <style>
                .ecart {
                    margin: 5px;
                    margin-top: 50px;
                    margin-left: 55px;
                    margin-right: 180px;
                }

                .textcss {
                    margin-top: 20px;
                }

                th {
                    color: rgb(8, 51, 103);
                }

                td {
                    color: rgb(188, 222, 243);
                }

                a {
                    color: black;
                }

                a:hover {
                    color: #000;
                    text-decoration: none;
                }
            </style>

        
            <div class="container">
                <div class="row custom-line">

                    <% item.forEach(function(row){ %>

                        <a class="ecart">

                            <div class="col align-self-start img-thumbnail">
                                <img width="450" height="300" src="<%= row.image %>" />
                            </div>

                        </a>

                        <div class="col textcss">
                            <textblock class="textcss">
                                <h1><u>
                                        <%= row.nom %>
                                    </u></h1><br>
                                <h3> Compagnie: <%= row.marque %>
                                </h3>
                                <br>
                                <h3> Prix: <%= row.prix %>$</h3>
                                <br>
                                <p>Description: <%= row.description %>
                                </p>
                            </textblock>

                            <form action="/produit/<%= row.id_produit %>" method="POST">
                                <div class="form-group row ">
                                    <div class="col-10">
                                        <div class="a-column a-span12 a-text-left">
                                            <span class="a-dropdown-container"><label for="quantity" class="a-native-dropdown">Quantité:</label>
                                                <select name="quantity" autocomplete="off" id="quantity" tabIndex="-1" class="a-native-dropdown">
                                            
                                                    <% for (var i =1; i <=15;  i++ ) { %>
                                                        <option value="<%= i %>"><%= i %>
                                                        </option>
                                                    <% } %>
                                                    
                                                </select>
                                                <span tabIndex="-1" class="a-button a-button-dropdown a-button-small">
                                                    <span class="a-button-inner">
                                                        <span class="a-button-text a-declarative" data-action="a-dropdown-button" role="button" tabIndex="0" aria-hidden="true">
                                                            <span class="a-dropdown-label">
                                                                
                                                            </span>
                                                            <span class="a-dropdown-prompt">

                                                            </span>
                                                        </span>
                                                        <i class="a-icon a-icon-dropdown">

                                                        </i>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>

                                        <input type="hidden" name="id_produit" value="<%= row.id_produit %>"/>
                                        <input type="submit" class="btn btn-warning btn-lg" id="<%= row.id_produit %>" value="Ajoutez au panier"/>

                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="table-responsive">

                            <table class="table textcss table-dark table-condensed">
                                <thead>
                                    <tr class="bg-info">
                                        <th>Nom de magasin</th>
                                        <th>Stock</th>
                                        <th>Adresse</th>
                                        <th>Ville</th>
                                        <th>Code Postal</th>
                                        <th>Telephone</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% outils.forEach(function(row){ %>

                                        <tr>

                                            <td><%= row.nom %></td>
                                        
                                            <td><%= row.nombre %></td>
                                        
                                            <td><%= row.adresse %></td>
                                        
                                            <td><%= row.ville %></td>
                                        
                                            <td><%= row.code_postale %></td>
                                        
                                            <td><%= row.tel %></td>

                                        </tr>
                                    
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    <% }) %>

                </div>
            </div>
<%- include ('../partials/footer') %>